body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(52, 4px);
    grid-template-rows: repeat(7, 4px);
    gap: 1px;
}
